/** STYLESHEET KULQUINOX **/
/**

Struktur:
---------

body
	#outerwrapper
		#header
		#innerwrapper
			#mainmenu
			#content
		#push
	#footer


**/


* {
margin: 0;
}

html, body {
	height: 100%;
}


body{
	background-color: white;
	color: black;
	font-family: verdana, arial, sans-serif;
}



#outerwrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}


#header{
	height: auto;
	width:80%;
	margin: 0 auto;
}

h1.logo{
	position: relative;
	overflow: hidden;
	padding: 0;
}


h1.logo a {
	position: absolute;
	height: 0;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;

}

h1#logo{
	height: 164px; /* Height of logo image */
}
h1#logo a {
	padding-top: 164px; /* Height of logo image */
	background-image: url("../images/kulquinox_logo_4.jpg");
}

#innerwrapper{
	height: 100%;
	background-color:black;
	width: 80%;
	margin: 0 auto;
	
}

#mainmenu{
	margin: auto;
	height: 2.5em;
	text-align: center;
}
#mainmenu li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	font-family: "Century Gothic";
}
li.button{
	background-color: #2040ff;
}
li.active{
	background-color: #ff4080;
}


#content{
	height:  100%;
	min-height: 100%;
	margin: 0 auto;
}

#programmenu  li
{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}


#programmenu{
	margin: auto;
	height: 2.5em;
	text-align: center;
	font-family: "Century Gothic";
}

#news{
	width: 45%;
	float: left;
	
}
#programadditions{
	width: 45%;
	float: right;
	
}

.push{
	height: 4em;
}

#footer{
	background-color: #000000;
	height: 4em;
	color: #ffffff;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	
}


a:link{
	text-decoration: none;
	color:#ffffff;
}
a:visited{
	color:#ffffff;
}
a:hover{
	text-decoration: underline;
}
a:active{
	text-decoration: underline;
}

a:link{
	text-decoration: none;
}


