/* STYLESHEET FOR KULQUINOX.NO */
/*
	This stylesheet is written by Gruppe 38 Webprosjekt @ HiOA, autumn 2011.
*/


/* MAIN ELEMENT STYLING */
/* 
	This section contains general styling of main elements and div elements.
*/

* {
	margin:0;
	padding:0;
}

body {
	background-repeat: repeat; 
	overflow-y: scroll;
}

#wrap {
	width: 98%; 
	margin: 0 auto;
	float: left;
	position: absolute;
	left: 1%;
}

#header {
	width: 100%;
	margin: 0 auto;	
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#header_banner {
	background: url("../images/kulquinox_header_600.gif");
	float: left;
	width: 600px;
	height: 180px;
}

h1.banner {
	position: left;
	padding-left: 25px;
	padding-top: 50px;
}

#header_menu {
	float: right;
	width: 20%;
	height: 180px;
}
#header_menu li {
	list-style-type: none;
	letter-spacing: 0.1em;
	padding-top: 4px;
	text-align: right;
}

ul.header_menu_items {
	padding-top: 100px;
	padding-right: 10px;
	font-size: 0.8em;
}

#face {
	width: 100%;
	border-bottom: 2px dotted #1e1e1e;
	height: 90px;
	float: left;
}

iframe {
	width: 80%;
	height: 60px;
	padding: 15px 12px 15px 24px;
	border: none;
}

#menu {
	width: 100%;
	padding-top: 5px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

#main_menu, #under_menu {
	margin: 0 auto;
	height: 30px;
	clear: both;
}
#main_menu {
	padding: 4px 20px 0 20px;
}
#under_menu {
	padding: 8px 20px 0 20px;
}

#main_menu li {
	display: inline;
	list-style-type: none;
	font-family: "Century Gothic", arial, sans-serif;
	letter-spacing: 0.2em;
	padding: 2px 5px;
}

#under_menu li {
	/* Same as #main_menu li */
	display: inline;
	list-style-type: none;
	font-family: "Century Gothic", arial, sans-serif;
	letter-spacing: 0.2em;
	padding: 2px 5px;
}


#content {
	width: 100%;
	margin:0 auto;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

#news {
	width: 49%;
	float: left;
}

#program_additions {
	width: 49%;
	float: left;
	border-left: 2px dotted #1e1e1e;	
}

#sitemap li {
	list-style-type: none;
 	letter-spacing: 0.1em;
	padding: 2px 5px;
}

div.event_stub {
	width: 20%;
	padding: 12px;
	float: left;
}

#sidebar_menu li {
	padding: 2px 2px;
	list-style-type: none;
}

#sidebar_menu {
	float: left;
	width:18%;
	padding: 6px;
	border-right: 2px dotted #1e1e1e;
}

#sidebar {
	float: left;
	width:18%;
	padding:15px 10px 15px 15px;
	border-right: 2px dotted #1e1e1e;
}

#inner_content {
	float:left;
	width: 75%;
	padding:15px 10px 15px 15px;
}

#artist_text {
	float:left;
}

div.image_copyright {
	float:left;
	width: 75%;
	padding:15px 10px 15px 15px;
}

#poster_page {
	margin-left: 5%;
	width: 90%;
	float: left;
	padding: 12px;
}

div.image {
	padding:2px;


	float:left;
	text-align:center;
}
div.imagelarge {
	padding:2px;


	float:left;
	text-align:center;
} 

#footer {
	width: 100%;
	margin: 0 auto;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

#copyright_and_footer_links {
	float: left;
	padding-left: 6px;
	width: 25%;
	border-right: 2px dotted #f5cd72;	
}
#footer_links {
	padding-top: 6px;
}
#copyright {
	float:left;
	padding-top: 8px;
}
#to_top {
	float: left;
	width: 48%;
	padding-top: 44px;
}
#validators {
	float:right;
	width: 25%;
	padding-top: 50px;
	padding-right: 6px;
	border-left: 2px dotted #f5cd72;
	

}


/* TYPOGRAPHY */
/*
	This section contains:
	* All fonts.
	* Styling of <h*>-tags, <p>-tags and <ul>-tags.
*/

html, body {
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

p {
	letter-spacing: 0.05em;
	padding: 12px 30px 6px 12px;
	font-size: 0.9em;
}

#footer_links p {
	padding: 6px;
}
#copyright p {
	padding: 6px;
}
#validators p {
	font-size: 0.55em;
	float: right;
	padding: 6px;
}
#to_top p {
	text-align: center;
	padding: 6px;
}

h1 {
	font-family: "Century Gothic", arial, sans-serif;
	font-size: 60px;
	letter-spacing: 0.2em;
}

h2, h3, h4 {
	font-family: Georgia;
	letter-spacing: 0.05em;
}

h2 {
	font-size: 2em;
	padding: 12px 0 12px 24px;
}

h3 {
	font-size: 1.4em;
	padding: 12px 12px 6px 12px;
}

h4 {
	font-size: 1.2em;
}

#sidebar_menu h3 {
	padding: 6px 6px 6px 0px;
	
}

ul.sidebar_menu_items {
	letter-spacing: 0.05em;
}

div.event_stub p {
	padding: 2px;
	font-size: 0.9em;
}

#content p {
	max-width: 700px;
	padding: 12px 0 12px 24px;
}

/* LINK STYLING */

a:link {
	
}
a:visited {
	
}
a:hover {
	
}
a:active {
	
}

h1.banner a:link {
	color: #f5cd72;
	text-decoration: none;
}
h1.banner a:visited {
	color: #f5cd72;	
	text-decoration: none;
}
h1.banner a:hover {
		color: #f5cd72;
		text-decoration: underline;
}
h1.banner a:active {
		color: #f5cd72;
		text-decoration: none;
}

ul.header_menu_items a:link {
	color: #1e1e1e;
	text-decoration: none;
	
}
ul.header_menu_items a:visited {
	color: #1e1e1e;
	text-decoration: none;
	
}
ul.header_menu_items a:hover{
	color: #1e1e1e;
	text-decoration: underline;
	
}
ul.header_menu_items a:active {
	color: #1e1e1e;
	text-decoration: none;
	
}

h2 a:link {
	color: #1e1e1e;
	text-decoration: none;
}
h2 a:visited {
	color: #1e1e1e;
	text-decoration: none;
}
h2 a:hover {
	color: #1e1e1e;
	text-decoration: underline;
}
h2 a:active {
	color: #1e1e1e;
	text-decoration: none;
}

h3 a:link {
	color: #1e1e1e;
	text-decoration: none;
}
h3 a:visited {
	color: #1e1e1e;
	text-decoration: none;
}
h3 a:hover {
	color: #1e1e1e;
	text-decoration: underline;
}
h3 a:active {
	color: #1e1e1e;
	text-decoration: none;
}

p a:link {
	color: #0A328D;
	text-decoration: underline;
}
p a:visited {
	color: #333E5C;
	text-decoration: underline;
}
p a:hover {
	color: #333E5C;
	text-decoration: underline;
}
p a:active {
	color: #1e1e1e;
	text-decoration: none;
}

#validators a:link {
	text-decoration: none;
	color: #f5cd72;
}
#validators a:visited {
	text-decoration: none;
	color: #f5cd72;
}
#validators a:hover {
	color: #f5cd72;
	text-decoration: underline;
}
#validators a:active {
	color: #f5cd72;
	text-decoration: underline;
}

#footer_links a:link {
	text-decoration: none;
	color: #f5cd72;
}
#footer_links a:visited {
	text-decoration: none;
	color: #f5cd72;
}
#footer_links a:hover {
	color: #f5cd72;
	text-decoration: underline;
}
#footer_links a:active {
	color: #f5cd72;
	text-decoration: underline;
}
#to_top a:link {
	color: #f5cd72;
	text-decoration: none;
	
}
#to_top a:visited {
	color: #f5cd72;
	text-decoration: none;
	
}
#to_top a:hover {
	color: #f5cd72;
	text-decoration: underline;
	
}
#to_top a:active {
	color: #f5cd72;
	text-decoration: underline;
	
}
li.button a:link {
	text-decoration: none;
	color: white;
}
li.button a:visited {
	color:white;
}
li.button a:hover {
	color: #f5cd72;
	text-decoration: none;
}
li.button a:active {
	color: #1e1e1e;
	text-decoration: none;
}

li.active a:link {
	text-decoration: none;
	color: #f5cd72;
}
li.active a:visited {
	color:#f5cd72;
}
li.active a:hover {
	color: #f5cd72;
	text-decoration: none;
}
li.active a:active {
	color: #f5cd72;
	text-decoration: none;
}

li.sidebar_link a:link {
	text-decoration: none;
	color: #1e1e1e;
}
li.sidebar_link a:visited {
	text-decoration: none;
	color: #1e1e1e;
}
li.sidebar_link a:hover {
	text-decoration: none;
	color: #1e1e1e;
}
li.sidebar_link a:active {
	text-decoration: none;
	color: #1e1e1e;
}

li.active_sidebar_link a:link {
	text-decoration: none;
	color:#f5cd72;
	background-color: #1e1e1e;
}
li.active_sidebar_link a:visited {
	text-decoration: none;
	color:#f5cd72;
	background-color: #1e1e1e;
}
li.active_sidebar_link a:hover {
	text-decoration: none;
	color:#f5cd72;
	background-color: #1e1e1e;
}
li.active_sidebar_link a:active {
	text-decoration: none;
	color:#f5cd72;
	background-color: #1e1e1e;
}

li.sitemap_links a:link {
	color: red;
	text-decoration: none;
}
li.sitemap_links a:visited {
	color: red;
	text-decoration: none;
}
li.sitemap_links a:hover {
	color:black;
	text-decoration: underline;
}
li.sitemap_links a:active {
	color: black;
	text-decoration: underline;
}


div.event_stub a:link {
	color: #1e1e1e;
	text-decoration: none;
}
div.event_stub a:visited {
	color: #1e1e1e;
	text-decoration: none;
}
div.event_stub a:hover {
	color: #1e1e1e;
	text-decoration: underline;
}
div.event_stub a:active {
	color: #41342d;
	text-decoration: none;
}


/*  COLORS */
/*
All colors here, except link colors. Go to section LINK STYLING for link colors.

Colors in use (first main colors, then complementaries):

Black:		#1e1e1e
Brown:		#41342d
Green:		#7f8d53
Yellow:		#f5cd72
Khaki:		#ccc1a3

Blue:		#0A328D (c. from yellow)
Dark blue: 	#333E5C (c. from khaki)

*/

body {
	background-color: #f5cd72;
}

#header {
	border: 2px solid #1e1e1e;
	background-color: #41342d;
}
#header_menu {
	background-color: #7f8d53;
	border-left: 2px dotted #00111c;
}

#main_menu {
	
}
#under_menu {
	background-color: #CCC1A3;
	border-top: 2px solid #41342d;
	
}
#menu {
	border: 2px solid #1e1e1e;
	background-color: #7f8d53;
}

#content {
	background-color: #ccc1a3;
	color: #1e1e1e;
	border: 2px solid #1e1e1e;
}

#sidebar_menu {
	background-color: #7f8d53;
}

iframe {
	background-color: #d8dfea;
}
#face {
	background-color: #d8dfea;
}

#footer {
	background-color: #41342d;
	color: #f5cd72;
	border: 2px solid #1e1e1e;
}

li.button {
	background-color: #41342d;
}
li.active {
	background-color: #1e1e1e;
}
