/**  MAIN STRUCTURAL STYLES **/

* {
	margin:0;
	padding:0;
}

html, body {
	height: 100%;
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	background-color: ;
}

#wrap {
	min-height: 100%;
	width: 100%; 
	background-image: url(../images/background_1.gif); 
	background-repeat: repeat; 
	background-color: #8FCBEB;
	
	
}
#innerwrapper {
	width: 90%; /* Remember to set #footer as at same width! */
	height: 100%;
	background-color: #1e1e1e;
	margin: 0 auto;
}

#header {
	float: center;
	width: 100%;
	background-color: #1e1e1e;
}

#header h1 {
	float: center;
	margin: 0 auto;
	padding: 0;
	width: 800px; /* Width of header image */
}

#header h1 a {
	padding: 0;
	margin: 0;
	width: 800px; /* Width of header image or site */
	height: 180px; /* Height of header image */
	display: block;
	clear: both;
	background: url(../images/kulquinox_header_compressed_height_800x180.jpg) no-repeat top left;
}

#header h1 a span {
	display: none;
}

#main {
	overflow: auto;
	clear: both;
	width: 90%; /* Same as header width */
	padding-bottom: 80px; /* Same as #bottom height */ /* BELONGS TO #main! */
	margin: 0 auto;
	background-color: gray;
	
}

#footer {
	position: relative;
	margin-top: -80px; /* negative value of footer height */
	height: 80px;
	clear:both;
	width: 90%; /* Same as innerwrapper width */
	background-color: #1e1e1e;
	margin: -80px auto 0 auto;
}
#innerfooter {
	width: 90%; /* Same as #innerwrapper */
	height: 80%;
	margin: 0 auto;
	background-color: gray;
	
}

#menu{
	margin: 0 auto;
	height: 30px;
	clear: both;
	background-color: #F0E72C;
	padding: 0px 5px;
	padding-top: 10px;
}

#programmenu {
	/* Same as #menu */
	margin: auto;
	height: 30px;
	clear: both;
	background-color: #F0E72C;
	padding: 0px 5px;
	padding-top: 10px;
}
#menu li
{
	display: inline;
	list-style-type: none;
	padding: 0px 5px;
	font-family: "Century Gothic";
	letter-spacing: 0.1em;
	
}
#programmenu li {
	/* Same as #menu li */
	display: inline;
	list-style-type: none;
	padding: 0px 5px;
	font-family: "Century Gothic";
	letter-spacing: 0.1em;
	
}


#menu li.button{
	background-color: #3f3f3f;
}
#menu li.active{
	background-color: #a2a2a2;
	
}
#programmenu li.button{
	background-color: #3f3f3f;
}
#programmenu li.active{
	background-color: #a2a2a2;	
}

li.button{
	padding: 0px 4px;
}

#content {
}

/** TYPOGRAPHY **/

p {
	padding: 25px 15px 8px 30px;
	letter-spacing: 0.05em;
	
}

#menu #programmenu {
	letter-spacing: 0.1em;
}

li.button a:link {
	text-decoration: none;
	color: white;
}
li.button a:visited {
	color:white;
}
li.button a:hover{
	color: #F0E72C;
	text-decoration: none;
}
li.button a:active{
	color: #1e1e1e;
	text-decoration: none;
}
li.active a:link {
	text-decoration: none;
	color: #F0E72C;
}
li.active a:visited {
	color:#F0E72C;
}
li.active a:hover{
	color: #F0E72C;
	text-decoration: none;
}
li.active a:active{
	color: #F0E72C;
	text-decoration: none;
}


