* {
	margin:0;
	padding:0;
}

html, body {
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}
body {
	background-repeat: repeat; 
	overflow-y: scroll;
}

#wrap {
	width: 90%; 
	margin: 0 auto;
	float: left;
	position: absolute;
	left: 5%;
}

#header {
	width: 100%;
	margin: 0 auto;	
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	
}
#header_banner {
	float: left;
}
h1.banner {
	width: 614px;
	height: 180px;
	position: relative;
}
h1.banner span {	
	background: url("../images/kulquinox_logo_transparent_f5cd72_2.gif");
	position: absolute;
	width: 100%;
	height: 100%;
}

#header_menu {
	float: right;
	background-color: white;
	width: 20%;
}

#menu {
	width: 100%;
	padding: 10px 0 5px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	
	
}
#main_menu, #program_menu {
	margin: 0 auto;
	height: 30px;
	clear: both;
	padding: 4px 20px 0 20px;
}

#info_menu {
	/* Same as #menu */
    margin: 0 auto;
	height: 30px;
	clear: both;
	padding: 4px 20px 0 20px;	
}
#main_menu li {
	display: inline;
	list-style-type: none;
	font-family: "Century Gothic", arial, sans-serif;
	letter-spacing: 0.2em;
	padding: 2px 5px;
}
#program_menu li {
	/* Same as #menu li */
	display: inline;
	list-style-type: none;
	font-family: "Century Gothic", arial, sans-serif;
	letter-spacing: 0.2em;
	padding: 2px 5px;
}


#news {
	width: 45%;
	float: left;
	border-right: 2px dashed red;	
}
#program_additions {
	width: 45%;
	float: right;
	border: 2px dashed red;	
}


#footer {
	width: 100%; /* Same as innerwrapper width */
	margin: 0 auto;
	height: 80px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	
}

#sitemap li {
	list-style-type: none;
 	letter-spacing: 0.2em;
	padding: 2px 5px;
}





#content {
	width: 100%;
	margin:0 auto;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}


p {
	letter-spacing: 0.05em;
	padding: 12px 30px 6px 12px;
	font-size: 1em;
}

li.sidebar_link {
	padding: 2px 2px;
	list-style-type: none;
}

li.active_sidebar_link {
	padding: 2px 2px;
	list-style-type: none;
}

#sidebar_menu {
	float: left;
	width:18%;
	padding:15px 10px 15px 15px;
	border-right: 2px dashed #1e1e1e;
}
#inner_content {
	float:left;
	width: 75%;
	padding:15px 10px 15px 15px;
}
#artist_text{
	float:left;
}

div.image{
  margin:2px;
  height:153px;
  width:230px;
  float:left;
  text-align:center;
}

div.imagelarge{
  margin:2px;
  height:424px;
  width:300px;
  float:left;
  text-align:center;
}

/* LINK STYLING */

li.button a:link {
	text-decoration: none;
	color: white;
}
li.button a:visited {
	color:white;
}
li.button a:hover{
	color: #f5cd72;
	text-decoration: none;
}
li.button a:active{
	color: #1e1e1e;
	text-decoration: none;
}

li.active a:link {
	text-decoration: none;
	color: #f5cd72;
}
li.active a:visited {
	color:#f5cd72;
}
li.active a:hover{
	color: #f5cd72;
	text-decoration: none;
}
li.active a:active{
	color: #f5cd72;
	text-decoration: none;
}

li.sidebar_link a:link {
	text-decoration: none;
	color: #1e1e1e;
}
li.sidebar_link a:visited {
	text-decoration: none;
	color: #1e1e1e;
}
li.sidebar_link a:hover{
	text-decoration: none;
	color: #1e1e1e;
}
li.sidebar_link a:active {
	text-decoration: none;
	color: #1e1e1e;
}

li.active_sidebar_link a:link {
	text-decoration: none;
	color:#f5cd72;
	background-color: #1e1e1e;
}
li.active_sidebar_link a:visited {
	text-decoration: none;
	color:#f5cd72;
	background-color: #1e1e1e;
}
li.active_sidebar_link a:hover{
	text-decoration: none;
	color:#f5cd72;
	background-color: #1e1e1e;
}
li.active_sidebar_link a:active {
	text-decoration: none;
	color:#f5cd72;
	background-color: #1e1e1e;
}


li.sitemap_links a:link{
	color: red;
	text-decoration: none;
}
li.sitemap_links a:visited{
	color: red;
	text-decoration: none;
}
li.sitemap_links a:hover{
	color:black;
	text-decoration: underline;
}
li.sitemap_links a:active{
	color: black;
	text-decoration: underline;
}


/*  COLORS */

body {
	background-color: #f5cd72;
}

#header {
	border: 2px dashed #7f8d53;
	background-color: #41342d;
}

#menu {
	background-color: #7f8d53;
	border: 2px dashed #00111c;
}

#content {
	background-color: #ccc1a3;
	color: #1e1e1e;
	border: 2px dashed #00111c;
}

#sidebar_menu {
	background-color: #7f8d53;
}

#footer {
	background-color: #41342d;
	color: #f5cd72;
	border: 2px dashed #7f8d53;
}
div.image{
  margin:2px;
  height:153px;
  width:230px;
  float:left;
  text-align:center;
  }
div.imagelarge{
  margin:2px;
  height:424px;
  width:300px;
  float:left;
  text-align:center;
  } 

li.button{
	background-color: #41342d;
}
li.active{
	background-color: #1e1e1e;
}

h1.banner a:link {
	color: #41342d;
	
}
h1.banner a:visited {
	color: #41342d;	
}
h1.banner a:hover {
		color: #41342d;
}
h1.banner a:active {
		color: #41342d;
}